<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}" class="has-navbar-fixed-top has-background-white-ter">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	{{ if .IsHome }}
		<title>{{ .Site.Title }} — {{ .Site.Params.description }}</title>
	{{ else }}
		<title>{{ .Title }} — {{ .Site.Title }}</title>
	{{ end }}

	<meta property="og:title" content="{{ .Title }}">
	<meta property="og:site_name" content="{{ .Site.Title }}">

	{{ if .Description }}
		<meta name="description" content="{{ .Description }}">
		<meta property="og:description" content="{{ .Description }}">
	{{ end }}

	{{ if .IsPage }}
		{{ if or (findRE "/posts/" .RelPermalink) .Params.posts }}
			<meta property="og:image" content="{{ .RelPermalink }}background.jpg">
		{{ else }}
			<meta property="og:image" content="/img/hero.jpg">
		{{ end }}
	{{ else }}
		<meta property="og:image" content="/img/hero.jpg">
	{{ end }}

	<meta name="theme-color" content="#000000">
	<meta name="msapplication-navbutton-color" content="#000000">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" crossorigin="anonymous">
	<link rel="stylesheet" href="/style.css">
	
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ "img/apple-touch-icon-144-precomposed.png" | absURL }}">
	<link rel="shortcut icon" href="{{ "img/favicon.png" | absURL }}">

	<link rel="alternate" type="application/rss+xml" href="/index.xml" title="{{ .Site.Title }}">
	<link rel="feed" type="application/rss+xml" href="/index.xml" title="{{ .Site.Title }}">
</head>
<body>
