{{ $page_url := .RelPermalink }}

<section class="section">
	<div class="container">
        <div class="tags are-medium">
            <a class="tag {{ if eq .Title "Projects" }}has-background-grey-lighter{{ end }}" href="/projects/">All</a>
            {{ range $name, $taxonomy := .Site.Taxonomies.projects }}
                        {{ $name_url := $name | urlize }}
                {{ $name_url := printf "%s%s%s" "/" $name_url "/" }}
                <a class="tag {{ if findRE $name_url $page_url }}has-background-grey-lighter{{ end }}" href="{{ "/projects/" | relLangURL }}{{ $name | urlize }}">{{ .Page.Title }}</a>
            {{ end }}
        </div>
	</div>
</section>
