{{ partial "top/basic-top.html" . }}

<div class="has-background-black-bis bg-img" style="background-image: url('img/hero.jpg')">
    <div class="bg-img-container-home">
        <section class="hero is-fullheight-with-navbar">
            <div class="hero-body">
				<div class="container">
					<h1 class="title is-1 has-text-white-ter">Welcome!</h1>
					<h2 class="subtitle is-3 has-text-white-ter">{{ .Site.Params.description }}</h2>
				</div>
            </div>
        </section>
    </div>
</div>

{{ partial "bottom/basic-bottom.html" . }}
