{{ partial "top/basic-top.html" . }}

<div class="bg-img" style="background-image: url('/images/posts{{ .RelPermalink }}background.jpg')">
    <div class="bg-img-container">
        <section class="hero is-medium is-uppercase">
            <div class="hero-body">
                <div class="container">
                    <div class="columns is-centered">
                        <div class="column is-12-mobile is-10-tablet is-9-desktop is-8-widescreen is-7-fullhd">
                            <div class="container">
                                <h1 class="title is-1 has-text-white-ter">{{ .Title }}</h1>
                                <h2 class="subtitle is-3 has-text-white-ter">{{ .Description }}</h2>
                                <p class="is-size-5 has-text-white-ter">{{.Date.Format "02/01/2006"}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<section class="section has-background-white-bis">
    <div class="container">
        <div class="columns is-centered is-multiline is-variable is-7">
            <div class="column is-12-mobile is-10-tablet is-9-desktop is-8-widescreen is-7-fullhd">
                <div class="content has-text-justified">
                    {{ .Content }}
                </div>
            </div>
        </div>
    </div>
</section>

{{ partial "bottom/basic-bottom.html" . }}
