@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', 'Lato', 'Segoe UI', 'Open Sans', sans-serif;
}

.bg-img {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-img-container {
  background: rgba(0,0,0,0.7);
}
