@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i&display=swap');

html {
  scroll-behavior: smooth;
  overflow-y: scroll;
}

body {
  font-family: 'Roboto', 'Lato', 'Segoe UI', 'Open Sans', sans-serif;
  word-wrap: break-word;
}

.bg-img {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-img-container-posts {
  background: rgba(0,0,0,0.7);
}

.bg-img-container-home {
  background: rgba(0,0,50,0.2);
}

.card {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.content-above-buttons {
  height: 100%;
  padding-bottom: 0;
}
