<nav class="navbar is-fixed-top is-black" role="navigation" aria-label="main navigation">
	<div class="container">
		<div class="navbar-brand is-size-4">
    		<a class="navbar-item" href="/"><strong>alfonsoluna.io</strong></a>  
      		<a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        		<span aria-hidden="true"></span>
        		<span aria-hidden="true"></span>
        		<span aria-hidden="true"></span>
      		</a>
    	</div>
    	<div id="navbarBasicExample" class="navbar-menu">
    		<div class="navbar-end">
    			<a class="navbar-item" href="/about">ABOUT</a>
    		</div>
    	</div>
	</div>
</nav>
